<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.illumination">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity"
            android:label="Sign Up"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sign_up" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:label="Home"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="home" />
            </intent-filter>
        </activity>
        <activity android:name=".BookDetailActivity"
            android:label="Book Description"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="book_details" />
            </intent-filter>
        </activity>
        <activity android:name=".CartActivity"
            android:label="Cart"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="cart" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaceOrderActivity"
            android:label="Place Order"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="place_order" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderHistoryActivity"
            android:label="Order History"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="order_history" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountSettingActivity"
            android:label="Account Settings"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="account_setting" />
            </intent-filter>
        </activity>
        <activity android:name=".BookReviewActivity"
            android:label="Book Reviews"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="book_reviews" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.illumination.UserProvider"
            android:name=".UserProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.example.illumination.CartProvider"
            android:name=".CartProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.example.illumination.ReviewProvider"
            android:name=".ReviewProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.example.illumination.CurrentUserProvider"
            android:name=".CurrentUserProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.example.illumination.RatingProvider"
            android:name=".RatingProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.example.illumination.OrderProvider"
            android:name=".OrderProvider"
            android:exported="false"/>
        <service android:name="com.example.illumination.UserService"
            android:process="com.example.illumination.ServiceProcess">
            <intent-filter>
                <action android:name="com.example.illumination.UserService" />
            </intent-filter>
        </service>
        <receiver android:name=".UserReceiver" >
            <intent-filter>
                <action android:name="com.example.illumination.CUSTOM_INTENT">
                </action>
            </intent-filter>
        </receiver>
        <service android:name="com.example.illumination.RatingService"
            android:process="com.example.illumination.ServiceProcess1">
            <intent-filter>
                <action android:name="com.example.illumination.RatingService" />
            </intent-filter>
        </service>
        <receiver android:name=".RatingReceiver" >
            <intent-filter>
                <action android:name="com.example.illumination.CUSTOM_INTENT1">
                </action>
            </intent-filter>
        </receiver>
        <service android:name="com.example.illumination.ReviewService"
            android:process="com.example.illumination.ServiceProcess2">
            <intent-filter>
                <action android:name="com.example.illumination.ReviewService" />
            </intent-filter>
        </service>
        <receiver android:name=".ReviewReceiver" >
            <intent-filter>
                <action android:name="com.example.illumination.CUSTOM_INTENT2">
                </action>
            </intent-filter>
        </receiver>
        <service android:name="com.example.illumination.OrderListService"
            android:process="com.example.illumination.ServiceProcess3">
            <intent-filter>
                <action android:name="com.example.illumination.OrderListService" />
            </intent-filter>
        </service>
        <receiver android:name=".OrderListReceiver" >
            <intent-filter>
                <action android:name="com.example.illumination.CUSTOM_INTENT3">
                </action>
            </intent-filter>
        </receiver>
    </application>
</manifest>